* {
  box-sizing: border-box;
  margin: 6px;
  padding: 0px;
  font-family: Helvetica;
  font-size: px;
  text-shadow: #0d0d0d 0.7px 0.7px;
  background-color:rgba(246, 243, 241, 0.342);
}
.App{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: left;
  background-image: url("src/assets/fundo cadastro.jpg");
  background-size: cover;
  background-position: center; 
  }
  

