* {
  box-sizing: border-box;
  margin: 3px;
  padding: 0px;
  font-family: Helvetica;
  font-size: 16px;
  text-shadow: #0c0c0c 1px 1px;
  background-color:rgba(202, 201, 200, 0.342)
}
.App{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: c;
  background-image: url("src/assets/fundo cadastro.jpg");
  background-size: cover;
  background-position: center;
  
}