.input-field input{
    width: 45%;
    height: 70%;
    background-color: #f5f5f5;
    outline: none;
    border: 2px solid rgba(224, 222, 222, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #070000;
    padding: 10px 20px;
}
.input-field input::placeholder{
color: #494949;
}
.input-field .icon{
position: absolute;
right: 25px;
top: 50%;
transform: translateY(-50%);
font-size: 18px;
color: #494949;
}
.container .recall-forget{
display: flex;
justify-content: space-between;
font-size: 15px;
margin: -px 0 20px;
}
.recall-forget label{
color: #494949;
}
.recall-forget input{
margin-right: 5px;
}
.recall-forget a, .signup-link p a{
color: #494949;
text-decoration: none;
}
.recall-forget a:hover, .signup-link p a{
text-decoration: underline;
}
.container button{
width: 50%;
height: 500%;
font-size: 16px;
padding: 10px 20px;
background-color:#9aa8c8e1;
border: none;
outline: none;
border-radius: 500px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
cursor: pointer;
font-weight: 600;
text-shadow: none;
}
.container .signup-link{
font-size: 15px;
text-align: center;
margin: 20px 0 10px;
}
.signup-link p a{
color:#2d5ac4e1;
}