nav li{
    width: 30%;
    height: 70%;
    background-color: #f5f5f5;
    outline: none;
    border: 2px solid rgba(224, 222, 222, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #070000;
    padding: 10px 20px;
    }
nav li a{
    color: #7a7a7a;
    font-size: 16px;
    text-decoration: none;

}
    
