.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.navbar-logo h1{
    display: flex;
    align-items:left;
    color: #0b1d47e1 1px 1px;
    font-size: 20px;;
}
.navbar-links {
list-style-type: none;
display: flex;
gap: 20px;
align-items: left;
color:
}
.navbar-links to {
    
}