.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.navbar-logo h1{
    display: flex;
    align-items:left;
}
.navbar-links {
list-style-type: none;
display: flex;
gap: 20px;
font-family: Helvetica;
font-size: 30px;



}