.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: left;
    background-color: transparent;
}
.navbar-logo h1{
    color: #06297ae1;
    font-size: 20px;
    align-items: left;
    
}
.navbar-links {
list-style-type: none;
display: flex;
gap: 20px;
align-items: left;
background-color: transparent;
}
.navbar li{
    display: inline;
    background-color: transparent;
    }
.navbar-links li a {
    color: #67789ee1;
    text-decoration: none;
    background-color: transparent
}
.navbar-links li a:hover{
    color:#ddd;
}